{% extends "base.html" %}

{% block title %}{{ class_name }} Dashboard{% endblock %}

{% block content %}
<h1><i class="fa-solid fa-chalkboard-user"></i> {{ t('dashboard.heading', class_name=class_name) }}</h1>
<div class="flex two">
    <div class="card" style="padding: 1em;">
        <h3><i class="fa-solid fa-border-all"></i> {{ t('dashboard.card_layout') }}</h3>
        <p>{{ t('dashboard.card_layout_desc') }}</p>
        <a href="/class/{{ class_name }}/layout" class="button"><i class="fa-solid fa-pen-to-square"></i> {{ t('dashboard.edit_layout') }}</a>
    </div>
    <div class="card" style="padding: 1em;">
        <h3><i class="fa-solid fa-users"></i> {{ t('dashboard.card_pupils') }}</h3>
        <p>{{ t('dashboard.card_pupils_desc') }}</p>
        <a href="/class/{{ class_name }}/pupils" class="button"><i class="fa-solid fa-user-plus"></i> {{ t('dashboard.edit_pupils') }}</a>
    </div>
    <div class="card" style="padding: 1em;">
        <h3><i class="fa-solid fa-heart"></i> {{ t('dashboard.card_prefs') }}</h3>
        <p>{{ t('dashboard.card_prefs_desc') }}</p>
        <a href="/class/{{ class_name }}/preferences" class="button"><i class="fa-solid fa-handshake"></i> {{ t('dashboard.edit_prefs') }}</a>
    </div>
    <div class="card" style="padding: 1em;">
        <h3><i class="fa-solid fa-scale-balanced"></i> {{ t('dashboard.card_teacher') }}</h3>
        <p>{{ t('dashboard.card_teacher_desc') }}</p>
        <a href="/class/{{ class_name }}/teacher" class="button"><i class="fa-solid fa-list-check"></i> {{ t('dashboard.edit_rules') }}</a>
    </div>
    <div class="card" style="padding: 1em;">
        <h3><i class="fa-solid fa-sliders"></i> {{ t('dashboard.card_config') }}</h3>
        <p>{{ t('dashboard.card_config_desc') }}</p>
        <a href="/class/{{ class_name }}/config" class="button"><i class="fa-solid fa-gear"></i> {{ t('dashboard.edit_config') }}</a>
    </div>
    <div class="card" style="padding: 1em;">
        <h3><i class="fa-solid fa-ranking-star"></i> {{ t('dashboard.card_assign') }}</h3>
        <p>{{ t('dashboard.card_assign_desc') }}</p>
        <a href="/class/{{ class_name }}/assign" class="button success"><i class="fa-solid fa-wand-magic-sparkles"></i> {{ t('dashboard.assign_seats') }}</a>
    </div>
</div>
{% endblock %}