{% extends "base.html" %}

{% block title %}{{ t('index.page_title') }}{% endblock %}

{% block content %}
<h1><i class="fa-solid fa-school"></i> {{ t('index.heading') }}</h1>

<div class="flex two">
  <div>
    {% if classes %}
    <ul>
      {% for cls in classes %}
      <li><a href="/class/{{ cls }}"><i class="fa-solid fa-chalkboard-user"></i> {{ cls }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p><i class="fa-solid fa-circle-exclamation"></i> {{ t('index.no_classes') }}</p>
    {% endif %}
  </div>
  <div>
    <form action="/class/create" method="POST" class="card" style="padding: 1em;">
      <h3><i class="fa-solid fa-folder-plus"></i> {{ t('index.create_heading') }}</h3>
      <input type="text" name="class_name" placeholder="{{ t('index.class_name_placeholder') }}" required>
      <button type="submit"><i class="fa-solid fa-check"></i> {{ t('index.create_btn') }}</button>
    </form>
  </div>
</div>
{% endblock %}